# .pre-commit-config.yaml
repos:
#- repo: local
#  hooks:
#      - id: format
#        name: Format Code
#        entry: make format
#        language: system
#        types: [ python ]
#      - id: lint
#        name: Run Linting
#        entry: make lint
#        language: system
#        types: [python]
#      - id: test
#        name: Run Tests
#        entry: make test
#        language: system
#        always_run: true
#        pass_filenames: false  # Disable passing filenames
#      - id: docs
#        name: Generate docs
#        entry: make docs
#        language: system
#        always_run: true
#        files: README.ipynb
#        pass_filenames: false  # Disable passing filenames
#      - id: clean
#        name: Clean temp files and jupyter files
#        entry: make clean
#        language: system
#        always_run: true
#        pass_filenames: false  # Disable passing filenames
- repo: local
  hooks:
    - id: format
      name: format
      entry: make format
      language: system
      types: [ python ]
      pass_filenames: false
    - id: lint
      name: lint
      entry: make lint-fix
      language: system
      types: [python]
      pass_filenames: false


-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0  # this is optional, use `pre-commit autoupdate` to get the latest rev!
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/python-poetry/poetry
    rev: '2.0.1'  # add version here
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-install
        stages: [post-checkout]
